node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

client_secret_221314735139-bsqcp5kesrsvofa1d0pfcptcehhdfgjg.apps.googleusercontent.com.json